<template>
  <div>
    <VideoList v-bind:results="results"/>
  </div>
</template>

<script>
import { isEmpty, isNil } from 'ramda';
import  { mapGetters } from 'vuex';
import VideoList from '../components/VideoList.vue';
export default {
  name: 'Channel',
  data: () => ({
    queryString: '',
    results:[]
  }),
  components: {
    VideoList
  },
  methods: {
    ...mapGetters('backend', [
      'query',
      'fetchVideosOfChannel'
    ]),
  },
  beforeMount: function(){
    this.fetchVideosOfChannel()(this.$route.query.channelUrl)
      .then(results => this.results = results)
    if(isNil(this.$route.query.name) || isEmpty(this.$route.query.name)) return;
    document.title = this.$route.query.name;
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

