<template>
  <div>
    <Collapsable v-if="wasteTime">
      Feed
      <Feed />
    </Collapsable>
    <div id="subscriptions-content">
      <div id="subscriptions">
        <div v-for="(subscription) in subscriptions" :key="subscription.url" class="subscribed-channel-container">
          <SubscribedChannel :subscription="subscription" v-bind:onSelect="onSubscriptionSelected"/>
        </div>
      </div>
      <SubscribedChannelContent id="subscribed-channel-content" v-bind:subscription="selectedSubscription" v-if="selectedSubscription"/>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Feed from '../components/Feed.vue';
import Collapsable from '../components/Collapsable.vue';
import SubscribedChannel from '../components/SubscribedChannel.vue'
import SubscribedChannelContent from '../components/SubscribedChannelContent.vue'

export default {
  name: 'Home',
  data: () => ({
    selectedSubscription:null
  }),
  computed: {
    ...mapState('prefs', ['wasteTime']),
    ...mapState('subscriptions', ['subscriptions'])
  },
  methods: {
    onSubscriptionSelected: function(subscription) {
      this.selectedSubscription = subscription;
    }

  },
  components: {
    Feed,
    Collapsable,
    SubscribedChannel,
    SubscribedChannelContent
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#subscriptions-content{
  display:flex;
  height: 85vh;
}
#subscriptions {
  max-width: 12vw;
  overflow: auto
}
.subscribed-channel-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
#subscribed-channel-content {
  width: 100%;
  margin-left: 2vw;
  overflow: auto;
}
</style>

