<template>
  <div>
    <v-icon name="spinner" v-if="fetchingData" spin width=100 height=100 />
    <VideoList v-bind:results="results" v-if='!fetchingData' />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { isEmpty, isNil } from 'ramda';
import VideoList from '../components/VideoList.vue';
export default {
  name: 'Search',
  data: () => ({
    queryString: '',
    results:[],
    fetchingData: false
  }),
  components: {
    VideoList,
  },
  beforeRouteUpdate(to, _from, next) {
    this.search(to.query.query); 
    next(true);
  },
  methods: {
     ...mapGetters('backend', [
      'query',
    ]),
    search: function (queryString) {
      this.fetchingData = true;
      this.query()(queryString)
        .then(results => this.results = results)
        .finally(() => {
          this.fetchingData = false;
          this.queryString = queryString;
        })
    }
  },
  beforeMount: function() {
    const query = this.$route.query.query;
    document.title = `Newpipe`
    if(isNil(query) || isEmpty(query)) return;
    this.search(query);
    document.title = `${query} - results`
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>


