<template>
  <div id='video-with-details'>
    <v-icon name="spinner" v-if="fetchingData" spin width=100 height=100 />
    <div v-if="errorMessage">{{errorMessage}}</div>
    <div v-if='errorMessage'>
      <button v-on:click="refetch">Retry</button>
    </div>
    <VideoPlayer v-if="streamDetails && !onlyAudio" v-bind:streamDetails="streamDetails"
      ref="videoPlayer"
      v-bind:url="videoUrl" v-bind:refetch="refetch"/>
    <AudioPlayer v-if="streamDetails && onlyAudio" v-bind:streamDetails="streamDetails"
      ref="audioPlayer"
      v-bind:url="videoUrl" v-bind:refetch="refetch"/>
    <a class='tag-button' v-on:click='toggleOnlyAudioAndReload' >{{onlyAudio ? "Play Video": "Only Audio"}}</a>
    <AddToPlayList icon text v-bind:track='streamDescriptionInfo' v-if='onlyAudio' />
    <PlayOnYoutube v-bind:url="videoUrl" v-bind:fetch-current-time="getCurrentPlayTime" />
    <div id='description-and-related-items' :style="$mq != 'lg' ? 'flex-direction:column' : 'flex-direction: row'">
      <YTVideoDetails v-if='streamDescriptionInfo' v-bind:details="streamDescriptionInfo" />
      <VideoList v-if='wasteTime' v-bind:results="streamDetails && streamDetails.relatedItems" :showAsGrid="() => false"/>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState, mapMutations } from 'vuex';
import { isNil } from 'ramda';
import YTVideoDetails from '../components/YTVideoDetails.vue';
import VideoList from '../components/VideoList.vue';
import AddToPlayList from '../components/AddToPlayList.vue';
import VideoPlayer from '../components/VideoPlayer.vue';
import AudioPlayer from '../components/AudioPlayer.vue';
import PlayOnYoutube from '../components/PlayOnYoutube.vue';

export default {
  name: 'Stream',
  data: () => ({
    fetchingData: false,
    errorMessage: null,
    streamDescriptionInfo: null,
    videoUrl: null,
    streamDetails: null
   }),
   created: function() {
    this.videoUrl= this.$route.query.url
    if(isNil(this.videoUrl)){
      this.fetchingData = false;
      this.errorMessage = "Invalid URL specified";
      return "";
    }
    this.fetchAndSetDetails(this.videoUrl);
  },
  components: {
    YTVideoDetails,
    AddToPlayList,
    PlayOnYoutube,
    VideoPlayer,
    AudioPlayer,
    VideoList
  },
  beforeRouteLeave (to, from, next) {
    this.$refs["videoPlayer"]?.destoryPlayerAndResources();
    setImmediate(next);
  },
  computed: {
    ...mapState('prefs', [
    'wasteTime',
    'onlyAudio'
    ]),
  },
  methods: {
    ...mapGetters('backend', [
      'fetchStreamDetails',
      'proxy',
    ]),
    ...mapMutations('playlist', [
      'addTrack',
    ]),
    ...mapMutations('prefs', [
      'toggleOnlyAudio',
    ]),
    refetch: function() {
      this.fetchAndSetDetails(this.videoUrl);
    },
    toggleOnlyAudioAndReload: function() {
      this.toggleOnlyAudio();
      setImmediate(() => window.location.reload());
    },
    fetchAndSetDetails: function(url) {
      this.fetchingData = true;
      this.errorMessage = null;
      this.fetchStreamDetails()(url)
          .then(streamDetails => {
            this.fetchingData = false;
            this.streamDetails = streamDetails;
            this.setDescription(streamDetails);
          })
          .catch(err => {
            console.error(err);
            this.fetchingData = false;
            this.errorMessage = "Error while fetching stream";
        });
    },
    setDescription: function(streamDetails) {
      this.streamDescriptionInfo = {};
      this.streamDescriptionInfo.dislikes = streamDetails.dislikes;
      this.streamDescriptionInfo.url = this.videoUrl;
      this.streamDescriptionInfo.name = streamDetails.title; // used for add to playlist
      this.streamDescriptionInfo.title = streamDetails.title;
      this.streamDescriptionInfo.likes = streamDetails.likes;
      this.streamDescriptionInfo.description = streamDetails.description;
      this.streamDescriptionInfo.uploadedDate = streamDetails.uploadedDate;
      this.streamDescriptionInfo.uploaderVerified = streamDetails.uploaderVerified;
      this.streamDescriptionInfo.channelName = streamDetails.channelName;
      this.streamDescriptionInfo.channelUrl = streamDetails.channelUrl;
      this.streamDescriptionInfo.channelAvatarUrl = streamDetails.channelAvatarUrl;
      this.streamDescriptionInfo.views = streamDetails.views;
    },
    getCurrentPlayTime: function() {
      return this.$refs["videoPlayer"]?.getCurrentPlayTime();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#video-with-details {
  margin-left: 5vw;
}
#description-and-related-items {
  display: flex;
}
#stream-details {
  flex-grow: 1;
}
/* Overwriting results css from VideoList */ 
#results-list { 
  margin-left: 5vw;
  max-width: 350px;
  min-width: 350px;
  display: inline;
}
</style>

