<template>
  <div>
    <div>
      <v-icon name="spinner" v-if="fetchingData" spin width=100 height=100 />
      <div id="content" v-if="!fetchingData && !errorFetching">
        <slot :data="data" />
      </div>
      <span v-if="errorFetching"> {{ this.errorText || "Error fetching content..." }} </span>
    </div>
  </div>
</template>

<script>

export default {
  name: 'AsyncContent',
  props: {
    errorText: String,
    asyncDataFetcher: Function
  },
  data: () => ({
    data: [],
    fetchingData: true,
    errorFetching: false,
  }),
  methods: {
    fetchAndSetContent(){
      this.fetchingData = true;
      this.asyncDataFetcher()
        .then(data => {
          this.data = data;
          this.errorFetching = false;
        })
        .catch(() => this.errorFetching = true)
        .finally(() => {
          this.fetchingData = false;
        });
    },
    refetch(){
      this.fetchAndSetContent();
    }
  },
  beforeMount: function () {
    this.fetchAndSetContent();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>

