<template>
  <div>
    <v-icon name="spinner" v-if="fetchingData" spin width=100 height=100 />
    <VideoList v-bind:results="feed" v-if='!fetchingData' />
    <span v-if="errorFetching"> Error fetching feed... </span>
  </div>    
</template>

<script>
import { mapGetters } from 'vuex';
import VideoList from '../components/VideoList.vue';
export default {
  name: 'Feed',
  data: () => ({
    feed: [],
    fetchingData: true,
    errorFetching: false,
  }),
  components: {
    VideoList
  },
  methods:{
    ...mapGetters('backend', {
      fetchFeed: 'feed',
    }),
  },
  beforeMount: function() {
    this.fetchingData = true;
    this.fetchFeed()()
      .then(feedResp => {
        this.feed = feedResp;
        this.errorFetching = false;
      })
      .catch(() => this.errorFetching = true)
      .finally(() => {
        this.fetchingData = false;
      });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

