<template>
  <div>
    <div id="top-bar" :style="$mq != 'lg' ? 'flex-direction:column' : 'flex-direction: row'">
      <div id="left-top-bar" class="flex-child">
        <a v-bind:href='base'>
          <v-icon id='logo' name="home" color="white" />
        </a>
        <span id="waste-time">
          <input type=checkbox id="waste-time" v-bind:checked="wasteTime" v-on:click="toggleWasteTime" />
          <label for="waste-time" v-on:click="toggleWasteTime">Waste time</label>
        </span>
      </div>
      <div id="middle-top-bar" class="flex-child">
        <YTSearch id='search' />
      </div>
      <div id="right-top-bar" class="flex-child" v-if="$mq == 'lg'"> <!-- TODO: present this on mobile in a different way -->
        <span class='backend-update-section'>
          <span>Backend URL</span>
          <input type="text" v-model="localBackendUrl">
          <button v-on:click="setBackendUrl(localBackendUrl)">Update</button>
        </span>
        <span>
          <span class="backend-update-section" v-on:click='toggleShouldUseLocalhostAsBackend'>
            <input type="checkbox" v-bind:checked='shouldUseLocalhostAsBackend' /> Use Localhost
          </span>
          <button v-on:click="syncStates">Sync state</button>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapMutations, mapGetters } from 'vuex';
import YTSearch from './YTSearch.vue';
import { base } from '../utils/RouterUtils';
export default {
  name: 'Header',
  components: {
    YTSearch
  },
  data: function (){
    return {
      base,
      localBackendUrl: ''
    }
  },
  created: function() {
    this.localBackendUrl = this.backendUrl;
  },
  computed: {
    ...mapState('backend', [
      'backendUrl',
      'shouldUseLocalhostAsBackend'
    ]),
    ...mapState('prefs', {
      wasteTime: 'wasteTime'
    })
  },
  methods: { 
    ...mapMutations('backend', [
      'setBackendUrl',
      'toggleShouldUseLocalhostAsBackend'
    ]),
    ...mapGetters('backend', [
      'remoteState',
      'uploadState'
    ]),
    ...mapGetters('remoteStore', [
      'localState'
    ]),
    ...mapMutations('prefs', [
      'toggleWasteTime'
    ]),
    ...mapMutations('remoteStore', [
      'syncToLocal'
    ]),
    syncStates: function() {
      this.remoteState()()
        .then(this.syncToLocal)
        .then(this.localState())
        .then(this.uploadState())
        .then(() => window.location.reload())
        .catch(err => {
          console.log(err)
          window.alert('Syncing failed...')
        })
    }
  }
}
</script>

<style scoped>
#top-bar {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  column-gap: 100px;
}
#middle-top-bar {
  flex-grow: 1;
}
#logo {
  display: inline-block;
  margin: 10px;
  width: 40px;
  height: 40px;
}
.flex-child {
  display: flex;
  align-items: center;
}
#right-top-bar {
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}
.backend-update-section > * {
  margin: 0px 10px 0px 10px;
}
#search {
  flex-grow: 1;
}
</style>


