<template>
  <div id="playlist" v-if="playlist && playlist.length > 0">
    <b id="title">Next to come</b>
    <span class="playlist-actions" >
      <v-icon class="playlist-action" name="retweet" width=24 height=16 v-on:click='toggleRepeatPlaylist' :color="repeatPlaylist ? 'white' : 'gray'" />
      <v-icon class="playlist-action" name="sync" width=16 height=16 v-on:click='refresh'/>
      <v-icon class="playlist-action" name="trash" width=16 height=16 v-on:click='clear'/>
    </span>
    <Track v-for="(track, i) in playlist" :key="i" :track="track" />
  </div>
</template>

<script>
  import {mapState, mapMutations, mapGetters} from 'vuex';
  require("../css/playlist.css");
  import Track from './Track.vue'
  export default {
    name: "Playlist",
    props: {
    },
    components: {
      Track
    },
    data() {
      return {
      }
    },
    methods: {
      ...mapMutations('playlist', [
        'clear',
        'toggleRepeatPlaylist'
      ]),
      ...mapGetters('playlist', [
        'getLatestTrackList',
      ]),
      refresh: function(){
        this.getLatestTrackList()();
      }
    },
    computed: {
      ...mapState('playlist', [
        'playlist',
        'repeatPlaylist'
      ]),
    },
    mounted: function(){
      this.refresh();  
    }
}
</script>
<style scoped>
  #playlist {
    border: 1px solid;
    padding: 8px;
    max-width: 800px;
    margin: 10px 10px 10px 0px;
  }
#title {
  font-size: 1em;
}
</styled>
