<template>
  <div>
    <video ref="videoPlayer" class="video-js" ></video>
    <div id='errors-occured'>
      <span v-for="(errorDetails) in errorsOccured" :key="errorDetails.errorOccuredAt.getTime()">
        <button v-on:click="restartFrom(errorDetails.videoTimeDuringError)" class='error'>Play from error at :
          {{errorDetails.formattedTime}}</button>
      </span>
    </div>
    <div>
      <button v-on:click="reset">Reset</button>
    </div>
  </div>
</template>

<script>
  import videojs from 'video.js';
  require('videojs-sprite-thumbnails')
  require('video.js/dist/video-js.css');
  require('videojs-plugin-audio-switch');
  require('videojs-hotkeys');
  require('@silvermine/videojs-quality-selector')(videojs);
  require('@silvermine/videojs-quality-selector/dist/css/quality-selector.css')
  import {mapState, mapMutations, mapGetters} from 'vuex';
  import {anyPass, find, isEmpty, isNil} from 'ramda';
  import {formatDuration} from '../utils/DateTimeUtils'
  import {failedInLastMinuteTimes} from '../utils/ErrorUtils'
  import {differenceInMinutes} from 'date-fns';
  import {getBestAudioStream, getBestFrames} from '../utils/YoutubeStreamUtils';
  import NoSleep from 'nosleep.js';
  import debounce from 'debounce';

  var noSleep = new NoSleep();

  export default {
    name: "VideoPlayer",
    props: {
      streamDetails: {
        type: Object,
        default() {
          return {};
        }
      },
      refetch: Function
    },
    data() {
      return {
        player: null,
        options: {
          controls: true,
          playbackRates: [0.5, 1, 1.25, 1.5, 2, 4],
          plugins: {
            "audio-switch": {
              audioTracks: []
            }
          }
        },
        streams: null,
        currentStream: null,
        subtitles: null,
        subtitleUrl: null,
        playedUntil: 0,
        errorsOccured: []
      }
    },
    methods: {
      ...mapMutations('prefs', [
        'setDefaultResolution',
        'setPreferredVolume',
        'toggleShowCaptions',
      ]),
      ...mapGetters('backend', [
        'proxy',
        'generateProxyUrl'
      ]),
      getDefaultStream: function (streams) {
        return find(stream => stream.resolution == this.defaultResolution, streams) || streams[0];
      },
      getAptStream: function (streams) {
        return this.getDefaultStream(streams);
      },
      resumeFrom: function (time) {
        this.player.currentTime(time);
        this.player.volume(this.preferredVolume);
      },
      onTimeUpdate: function () {
        const time = Math.floor(this.player.currentTime());
        if (time === 0) return;
        this.playedUntil = time;
      },
      onError: function (e) {
        const timeAtError = e.target.player.currentTime();
        const error = e.target.player.error();
        console.log(timeAtError, error);
        this.errorsOccured = this.getRecentErrorDetails(
          [{
            error,
            videoTimeDuringError: timeAtError,
            formattedTime: formatDuration(timeAtError),
            errorOccuredAt: new Date()
          }, ...this.errorsOccured]
        );
        if(failedInLastMinuteTimes(6)(this.errorsOccured)) {
          return;
        }
        if(failedInLastMinuteTimes(3)(this.errorsOccured)) {
          this.addVideoStreamsHavingAudio();
          return;
        }
        setImmediate(() => this.cleanAndRefetch());
      },
      restartFrom: function (time) {
        this.player.pause();
        this.cleanAndRefetch();
        setImmediate(() => this.playedUntil = time);
      },
      cleanAndRefetch: function () {
        this.player.pause();
        this.refetch();
      },
      onVolumeChange: function () {
        this.setPreferredVolume(this.player.volume());
      },
      onPlaybackRateChanged: function () {
        this.player.audioPlayer.playbackRate = this.player.playbackRate();
        this.player.pause();
        this.player.play();
      },
      getRecentErrorDetails: function (errorsOccured) {
        return errorsOccured
          .filter(errorDetails => differenceInMinutes(new Date(), errorDetails.errorOccuredAt) < 5);
      },
      addVideoStreamsHavingAudio: function () {
        this.removeAudioTracks();
        this.player.src(this.computeVideoTracksHavingAudio());
      },
      addPreviewFrames: function() {
        if(anyPass([isEmpty, isNil])(this.streamDetails.frames)) return;
        const frames = getBestFrames(this.streamDetails.frames)
        this.player.spriteThumbnails({
            interval: frames.durationPerFrame / 1000,
            url: frames.urls[0],
            width: frames.frameWidth,
            height: frames.frameHeight,
            urls: frames.urls
        });
        
      },
      onPlayerReady: function () {
        this.player.volume(this.preferredVolume);
        this.addPreviewFrames()
        this.player.controlBar.addChild('QualitySelector');
        this.player.on('error', debounce(this.onError, 300));
        this.player.on('timeupdate', this.onTimeUpdate);
        this.player.on('volumechange', this.onVolumeChange);
        this.player.on('ratechange', this.onPlaybackRateChanged);
        this.player.on('seeking', this.player.pause);
        this.player.on('play', () => noSleep.enable());
        this.player.on('pause', () => noSleep.disable());
        this.player.on('qualitySelected', (_, selectedQuality) => {
          if(selectedQuality.label == this.defaultResolution) return;
          this.setDefaultResolution(selectedQuality.label);
          this.addSubtitles();
        });
        this.player.textTracks().on('change', () => {
          this.toggleShowCaptions();
        });
        this.player.on('canplay', () => {
          if (this.player.seeking()) return;
          this.player.play();
        });
        this.addAudioTracks();
        this.addVideoTracks();
        this.addSubtitles();
        this.player.hotkeys({
          volumeStep: 0.1,
          seekStep: 5,
          enableVolumeScroll: false
        });
        this.player.focus();
        this.player.audioTracks(this.getPlayerFormattedAudioTrackObjects());
      },
      addVideoTracks() {
        this.player.src(this.computeVideoTracks());
      },
      computeVideoStreamsFrom(streams) {
        const defaultStream = this.getAptStream(streams);
        return streams
          .map(it => {
            return {
              src: it.url,
              type: 'video/mp4',
              label: it.resolution,
              selected: it == defaultStream
            }
        });
      },
      computeVideoTracksHavingAudio() {
        return this.computeVideoStreamsFrom(this.streamDetails.videoAndAudioStreams)
      },
      computeVideoTracks() {
        const webmStreams = this.streamDetails.videoStreams
        .filter(it => it.format == 'WEBM'); 
        const streams = webmStreams.length == 0 ? this.streamDetails.videoStreams : webmStreams;
        return this.computeVideoStreamsFrom(streams);
      },
      addSubtitles() {
        this.subtitles = this.streamDetails.subtitleStreams;
        if (this.subtitles && this.subtitles.length > 0) {
          const existingTracks = this.player.remoteTextTracks().tracks_;
          existingTracks && existingTracks.forEach(it => this.player.removeRemoteTextTrack(it))
          const defaultTrack = this.showCaptions && this.subtitles.find(it => it.displayLanguageName.toLowerCase().includes('english') && !it.autoGenerated);
          this.subtitles.forEach(subtitleInfo =>
            this.player.addRemoteTextTrack({
              src: this.generateProxyUrl()(subtitleInfo.url),
              kind: "captions",
              label: subtitleInfo.displayLanguageName + (subtitleInfo.autoGenerated ? " auto generated" : ""),
              srclang: subtitleInfo.languageTag,
              locale: subtitleInfo.locale,
              mode: defaultTrack == subtitleInfo ? 'showing' : 'disabled',
            }, false));
        }
      },
      getPlayerFormattedAudioTrackObjects() {
        return [
          {
            language: "default",
            label: "default",
            kind: "default",
            url: getBestAudioStream(this.streamDetails.audioStreams).url
          },
        ];
      },
      removeAudioTracks() {
        this.player["audio-switch"]({audioTracks: [{}]});
      },
      addAudioTracks() {
        this.player["audio-switch"]({audioTracks: this.getPlayerFormattedAudioTrackObjects()});
      },
      reconfigureAndPlay() {
        this.addVideoTracks();
        this.player.currentTime(this.playedUntil);
        this.addAudioTracks();
        this.addSubtitles();
      },
      reset() {
        this.restartFrom(this.player.currentTime());
      },
      destoryPlayerAndResources() {
        if (this.player && !this.player.isDisposed()) {
          this.player.pause();
          setImmediate(() => {
            if (!this.player.isDisposed()) this.player.dispose();
          });
        }
      },
      getCurrentPlayTime() {
        return this.player.currentTime()
      }
    },
    computed: {
      ...mapState('prefs', {
        defaultResolution: 'defaultResolution',
        preferredVolume: 'preferredVolume',
        showCaptions: 'showCaptions',
      })
    },
    watch: {
      streamDetails: function () {
        this.reconfigureAndPlay();
      }
    },
    mounted() {
      this.player = videojs(this.$refs.videoPlayer, this.options, this.onPlayerReady)
      document.title = this.streamDetails.title;
    },
    beforeDestroy() {
      this.destoryPlayerAndResources();
    }
  }
</script>
<style scoped>
  #video-with-details {
    margin-left: 100px;
  }

  #resolutions {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .resolution {
    margin: 10px;
    padding: 4px;
  }

  .video-js {
    width: 100%;
    height: 50vh;
  }
  .selected {
    border: 1px solid white;
  }

  #errors-occured {
    width: max-content;
    margin-bottom: 30px;
  }

  .error {
    display: block;
    margin: 10px;
  }

  </styled>
