<template>
  <div id="results-list" :class="{'video-list-grid': showGrid}">
    <YTItem v-for="(result, i) in results" :key="i"
    v-bind:item="result"/>
  </div>
</template>

<script>
import YTItem from './YTItem.vue'
export default {
  name: 'VideoList',
  props: {
    results: Array,
    showAsGrid: Function,
  },
  computed: {
    showGrid(){
      return this.showAsGrid ? this.showAsGrid() : this.$mq == 'lg'  
    }
  },
  components: {
    YTItem
  },
  methods: {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.video-list-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
</style>

