<template>
  <div>
    <router-link id="content" v-bind:to="{ name: 'Channel', query: { channelUrl: this.item.url, name: this.item.name }}">
      <img id="thumbnail" v-bind:src="this.thumbnailUrl()" />
      <div id="details">
        <span>{{item.name}} <v-icon v-if="item.verified" name="check-circle" /></span>
        <span>
          <span>{{subscribersCount}} subscribers </span>
          •
          <span>{{item.streamCount}} Videos </span>
        </span>
        <span id="channel-description">{{item.description}}</span>
        <div class="tag-button" v-if="!hasSubscribed" v-on:click='subscribe'>
          <v-icon name="plus" />
          <span class="text">Subscribe</span>
        </div>
      </div>
    </router-link>
  </div>
</template>

<script>
import { formatDuration } from '../utils/DateTimeUtils.js';
import { getThumbnailUrl } from '../utils/YoutubeStreamUtils'
import { mapMutations, mapState } from 'vuex';
import millify from 'millify';
export default {
  name: 'YTChannel',
  props: {
    item: Object
  },
  computed: {
    ...mapState('subscriptions', [
      'subscriptions',
    ]),
    ...mapState('prefs', [
      'slowSpeedInternet',
    ]),
    formattedDuration: function() {
      if (!this.item.duration) return "";
      return formatDuration(this.item.duration);
    },
    subscribersCount: function() {
      if (!this.item.subscriberCount) return "";
      return millify(this.item.subscriberCount, {precision: 2});
    },
    hasSubscribed: function () {
      return this.subscriptions.some(subscription => subscription.url == this.item.url);
    }
  },
  methods: {
    ...mapMutations('subscriptions', [
      'addSubscription',
    ]),
    subscribe: function(e) {
      this.addSubscription({ name: this.item.name, url: this.item.url })
      e.preventDefault();
    },
    thumbnailUrl: function() {
      return getThumbnailUrl(this.item.thumbnails || []) || this.item.thumbnailUrl;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#content {
  display: flex;
  flex-direction: column;
  margin: 15px;
  color: white;
  max-width: 350px;
  text-decoration-line: none;
}
#thumbnail {
  height: 25vh;
}
#channel-description {
  text-align: left;
  margin-top: 10px;
}
#details {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 16px;
  margin-top: 10px;
}
</style>
