<template>
  <span>
    <YTChannel v-if="item.infoType=='CHANNEL'" v-bind:item="item" />
    <YTVideo v-if="item.infoType=='STREAM'" v-bind:item="item" />
  </span>
</template>

<script>
import YTChannel from './YTChannel.vue'
import YTVideo from './YTVideo.vue'
export default {
  name: 'YTItem',
  props: {
    item: Object
  },
  components: {
    YTChannel,
    YTVideo
  },
}
</script>
