<template>
  <div id='stream-details'>
    <span id='title'>{{details.title}}</span>
    <div>
      <span id='views'>{{this.viewCount}} Views • </span>
      <span id='uploaded-date'> {{details.uploadedDate}}</span>
    </div>
    <div id='likes-container'>
      <v-icon name="thumbs-up" />
      <span id='likes'>{{this.likes}}</span>
      <v-icon name="thumbs-down" />
      <span id='dislikes'>{{this.dislikes}}</span>
    </div>
    <div id='channel-details'>
    <router-link v-bind:to="{ name: 'Channel', query: { channelUrl: details.channelUrl }}">
        <img id='channel-avatar' v-bind:src='details.channelAvatarUrl' />
        <span id='channel-name'>
          {{details.channelName}}
          <v-icon v-if="details.uploaderVerified" name="check-circle" />
        </span>
      </router-link>
    </div>
    <Collapsable>
      <div id='description' v-html='details.description' />
    </Collapsable>
  </div>
</template>

<script>
import millify from 'millify';
export default {
  name: 'YTVideoDetails',
  props: {
    details: Object
  },
  computed: {
    viewCount: function() {
      return millify(this.details.views || 0, {precision: 2});
    },
    likes: function() {
      return millify(this.details.likes || 0, {precision: 2});
    },
    dislikes: function() {
      return millify(this.details.dislikes || 0, {precision: 2});
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#channel-name {
  vertical-align: top;
}
#description {
  margin-top: 40px;
  white-space: pre-line;
  width: 90%;
  height: 50vh;
  overflow: scroll;
}
#dislikes {
  margin: 10px;
}
#likes-container {
  margin-top: 20px;
}
#likes {
  margin: 10px;
  margin-right: 50px;
}
#stream-details {
  text-align: left;
}
#title {
  font-weight: bold;
  font-size: 20px
}
#channel-details {
  margin-top: 50px;
  color: white;
}
</style>
