<template>
  <div id="app">
    <Header id='header' />
    <keep-alive include="Home">
      <router-view :key="$route.fullPath"></router-view>
    </keep-alive>
  </div>
</template>

<script>
import Icon from 'vue-awesome/components/Icon'
import Vue from 'vue';
import store from './store/store';
import VueMq from 'vue-mq';
require("./css/app.css");
require("./icons/vue-awesome-icons-import");
import Header from './components/Header.vue'
import Collapsable from './components/Collapsable.vue';

Vue.component('v-icon', Icon);
Vue.component('Collapsable', Collapsable);
Vue.use(VueMq);
export default {
  name: 'App',
  store,
  components: {
    Header
  }
}
  
</script>
<style>
#header {
  margin-bottom: 30px
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  padding: 0px;
  margin: 0px;
  color: white;
  background: black;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

a {
  text-decoration: none;
  color: white;
}
</style>
